<div class="dashboard-container">
    <header class="header">
        <h1>Auth Neoris</h1>
        <button (click)="logout()" class="logout-button">Logout</button>
    </header>
    <aside class="sidebar">
        <nav>
            <ul>
                <li>
                    <div class="icon-text-container">
                        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    </div>
                </li>
                <li>
                    <div class="icon-text-container">
                        <a routerLink="/dashboard/users" routerLinkActive="active">Users</a>
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
</div>